.header-container {
    border-bottom: 5px solid #daa520;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #daa520;
    width: 100%; /* Ensure the header takes the full width */
}

.header-logo {
    width: 150px; /* Adjust based on your logo's size */
    cursor: pointer;
}

.header-nav {
    display:flexbox;
    gap: 20px;
    align-items: center; /* Vertically center the links */
}

.nav-link {
    color: #ffd700;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}